*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--clr-ntrl-lts);
	font-family: 'Inter', system-ui, sans-serif;
	color: var(--clr-ntrl-dk);
	padding-block: var(--space-3);

	@media (width >= 48rem) {
		padding-block: var(--space-6);
	}
}

input,
button {
	color: inherit;
	font-size: inherit;
}

.todo-app {
	width: 100%;

	@media (width >= 48rem) {
		width: 48rem;
		margin-inline: auto;
		border-radius: var(--radius-lg);
	}
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	margin-top: var(--space-0);
	margin-bottom: var(--space-5);
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	font-size: 1.125rem;
	border: none;
	border-radius: var(--radius-md);
	padding: var(--space-1) var(--space-3);
	cursor: pointer;
	transition: background-color 0.3s;

	@media (width >= 48rem) {
		padding: var(--space-2) var(--space-4);
	}

	&:active {
		transform: scale(0.95);
	}
}

.icon {
	width: 0.875rem;
	fill: var(--clr-ntrl-dk);
	stroke: var(--clr-ntrl-dk);

	@media (width >= 48rem) {
		width: 1.25rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 0.0625rem;
	margin: -0.0625rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 0.0625rem;
}
