.list-menu {
	position: absolute;
	z-index: 10;
	top: calc(100% + var(--space-1));
	right: 0;

	display: flex;
	flex-direction: column;
	gap: var(--space-1);

	min-width: 100%;
	width: max-content;
	padding: var(--space-3) var(--space-2);
	border-radius: var(--radius-sm);
	background-color: var(--clr-ntrl-dks);

	visibility: hidden;
	opacity: 0;

	transition: opacity 0.3s, visibility 0.3s;

	&::before {
		content: '';
		position: absolute;
		top: -0.25rem;
		transform: rotate(45deg);
		right: var(--space-3);

		width: 0.75rem;
		height: 0.75rem;

		background-color: var(--clr-ntrl-dks);
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	.menu-item {
		padding: var(--space-1) var(--space-2);

		font: inherit;
		color: var(--clr-ntrl-lts);
		text-align: start;

		border: none;
		border-radius: var(--radius-xs);
		background-color: transparent;
		cursor: pointer;

		transition: color 0.3s, background-color 0.3s;

		&:hover {
			background-color: var(--clr-ntrl-lt-hov);
			color: var(--clr-ntrl-lt-dk);
		}
	}
}
