.todo-list {
	position: relative;
	justify-content: center;
	min-height: 60dvh;
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-item {
	cursor: grab;
	display: flex;
	gap: 0.625rem;
	align-items: center;
	padding: var(--space-2) var(--space-3);
	background-color: var(--clr-ntrl-lts);
	border-radius: var(--radius-md);

	&:not(:last-child) {
		margin-bottom: var(--space-3);
	}

	@media (width >= 48rem) {
		padding: var(--space-3) var(--space-4);

		&:not(:last-child) {
			margin-bottom: var(--space-4);
		}
	}

	&.dragging {
		opacity: 0.6;
		transform: scale(0.98);
	}

	label {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: var(--space-2);

		@media (width >= 48rem) {
			gap: var(--space-3);
		}
	}

	span {
		word-break: break-word;
		hyphens: auto;
		overflow-wrap: break-word;
	}

	input[type='checkbox'] {
		width: 1rem;
		aspect-ratio: 1;
		cursor: pointer;
		margin: 0;
		transition: background-color 0.3s;

		@media (width >= 48rem) {
			width: 1.375rem;
		}
	}

	label:has(:checked) {
		text-decoration: line-through;
	}

	.btn-group {
		margin-left: auto;
		display: flex;
		gap: var(--space-2);
	}

	.btn-edit {
		background-color: var(--clr-accent-blue);

		&:hover {
			background-color: var(--clr-accent-blue-hov);
		}
	}

	.btn-delete {
		background-color: var(--clr-accent-pink);

		&:hover {
			background-color: var(--clr-accent-pink-hov);
		}
	}
}

.empty-message {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

	opacity: 0.7;
	text-align: center;
}
